<br>
<router-outlet></router-outlet>
<a routerLink="/">Về trang chủ</a>
<div class="text-center text-uppercase font-weight-bold">
  <span style="font-size: 24px">Đã đọc</span>
</div>
<div *ngIf="failMessage" class="alert alert-danger">
  <p>{{failMessage}}</p>
</div>
<div class="mt-lg-4">
  <form [formGroup]="bookForm">
    <table *ngFor="let book of bookList">
      <tr>
        <div *ngIf="book.read == true">
          <td>{{book.name}}</td>
          <td>
            <button (click)="read(book)">Đọc lại</button>
          </td>
        </div>
      </tr>
    </table>
  </form>
  <a routerLink="/books">Danh sách đọc</a>
</div>
